.album {
  position: relative;
  padding: 10px;
  max-width: 300px;
}

img {
  padding: 0;
}

.album-cover img:hover {
  content: attr(data-content);
  transition: 0.1s ease;
  filter: brightness(50%);
}
