.album {
    position: relative;
    padding: 15px;
    max-width: 300px;
}

img {
    padding: 0;
}

.now-playing {
    position: relative;
    visibility: hidden;
}

.album-cover {
    max-width: 300px;
    max-height: 300px;
}

.now-playing {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
}

.album-cover img:hover {
    transition: 0.1s ease;
    filter: brightness(50%);
}
.album-cover img:hover + .now-playing {
    visibility: visible;
}

@media all and (max-width: 768px) {
    .album-cover {
        max-width: 250px;
        max-height: 250px;
    }
    .album-cover img {
        max-height: 250px;
        max-width: 250px;
    }
}
