.time-frame {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}

.album-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 3px;
}
